.YT_FX{
  display:flex
}
.YT_FXR{
  flex-direction:row
}
.YT_FXC{
  flex-direction:column
}

.YT_FXnstC{
  height: 0
}

.YT_FXnstR{
  width: 0
}

.YT_FX1{
  flex:1
}

.YT_H10px{
  height: 10px
}
.YT_H10pt{
  height:10%
}
.YT_H10e{
  height:10em
}
.YT_H10vh{
  height:10vh
}
.YT_W10px{
  width: 10px
}
.YT_W10pt{
  width:10%
}
.YT_W10e{
  width:10em
}
.YT_W10vw{
  width:10vw
}

.YT_bdBLK1px{
  border: solid black 1px
}

.YT_bdBL1px{
  border: solid blue 1px
}

.YT_bdWH1px{
  border: solid white 1px
}

.YT_bdRD1px{
  border: solid red 1px
}

.YT_bdGRN1px{
  border: solid green 1px
}

.YT_bdYW1px{
  border: solid yellow 1px
}

.YT_bdPRP1px{
  border: solid purple 1px
}



.YT_TRSFmtx{
  transform: matrix() /* mtrxn6 */
}

.YT_TRSFmtx3{
  transform: matrix3d() /* mtrx16 */
}

.YT_TRSFtrslt{ 
  transform: translate() /* x, y */
}

.YT_TRSFtrslt3{ 
  transform: translate3d() /* x, y, z */
}

.YT_TRSFscl3{
  transform: scale3d() /* x, y, z */
}

.YT_TRSFrot{
  transform: rotate() /* angle */
}
.YT_TRSFrot3{
  transform: rotate3d() /* x, y, z, angle */
}

.YT_TRSFskw{
  transform: skew() /* x-angle, y-angle */
}

.YT_TRSFpsp{
  transform: perspective() /* n */
}
