*.txt
*.png
*.ico
gui/py_django/app_writer/migrations/
/home/htran/Desktop/Enzyme/C:\Users\hduon\Documents\
/home/htran/Desktop/Enzyme/~/tensorflow_datasets/cats_vs_dogs/4.0.0
*.msi
*.svg
*.pyc
*.csv
*.xlsx
